services:
  sftp:
    build: .
    env_file:
      - path: .env.public
    ports:
      - ${HTTP_PORT}:8080
      - ${SFTP_PORT}:2022
      - ${LIGHTTPD_PORT}:8081
    volumes:
      - ${MNT}:/srv/sftpgo
      - ./root/var/lib/sftpgo:/var/lib/sftpgo
    post_start:
      - command: lighttpd -f /var/lib/sftpgo/lighttpd.conf
