services:
  sftp:
    build: .
    deploy:
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3
        window: 300s
    env_file:
      - path: .env.public
    environment:
      LIGHTTPD_PORT: ${LIGHTTPD_PORT}
    ports:
      - ${HTTP_PORT}:8080
      - ${SFTP_PORT}:2022
      - ${LIGHTTPD_PORT}:${LIGHTTPD_PORT}
    networks:
      default:
        aliases:
          - ${DOCKER_NETWORK_ALIAS}
    volumes:
      - ${MNT}:/srv/sftpgo
      - ./root/var/lib/sftpgo:/var/lib/sftpgo
    post_start:
      - command: lighttpd -f /var/lib/sftpgo/lighttpd.conf
networks:
  default:
    external: true
    name: ${DOCKER_NETWORK}
